

<!DOCTYPE html>
<Html>
    <head>
        <title>
            CONTACT
        </title>
    </head>
<body>
    <form action="/contact" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="email">Label</label>
        <input type="email" name="email">
        <input type="submit" name="submit"/>
    </form>
</body>
</Html>