<head>
    <link rel="stylesheet" href="/css/myStyles.css" />
</head>

<div id="navt">
    <table id="table1" class="table1">
        <tr class="tr" id="navr">
            <td id="nav" class="navTD">
                <a href="contact">Contact</a>
            </td>
            <td id="nav" class="navTD">
                <a href="courses">Courses</a>
            </td>
            <td id="nav" class="navTD">
                <a href="thanks">Thanks</a>
            </td>
            <td id="nav" class="navTD">
                NAV CELL
            </td>
            <td id="nav" class="navTD">
                NAV CELL
            </td>
        </tr>
    </table>
</div>

<%- body %>